* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
header {
  
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  height: 60px;
  background-color: orange;
  
}
.topbar a {
  color: white;
  text-decoration: none;
}
.logo{
    display: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
  height: 30px; 
  width: auto;
   justify-content: center;
    align-items: center;
}
main {
  padding-top: 80px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
}

.card {
  width: 31%;
}

.img-wrapper {
  position: relative;
}

.img-wrapper img {
  width: 100%;
  display: block;
  transition: opacity 0.3s;
}

.img-back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.img-wrapper:hover .img-back {
  opacity: 1;
}

.img-wrapper:hover .img-front {
  opacity: 0;
}
.badge{
    position: absolute;
    bottom: 10px;
    left: 10px;

}
.badge {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.discount {
  background-color: red;
}

.green {
  background-color: green;
  left: 65px;
}
.wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  background: white;
  padding: 2px 6px;
  cursor: pointer;
  transition: color 0.3s;
}

.wishlist:hover,
.wishlist.active {
  color: red;
}

.info {
  padding-top: 10px;
}

.brand {
  color: gray;
  font-size: 12px;
}
.name {
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px 0;
}

.price .new {
  color: red;
  font-weight: bold;
}

.price .old {
  text-decoration: line-through;
  margin-left: 5px;
  color: grey;
}


